<div class="sticky top-0 border-bottom-1 border-gray-300 shadow-lg z-10">
  <p-toolbar [styleClass]="'bg-white border-top-none border-x-none border-noround'
+ 'sm:flex sm:justify-content-center sm:w-full md:flex md:justify-content-between px-8'">
    <div class="p-toolbar-group-start pl-3 sm:hidden md:flex cursor-pointer" routerLink="/">
      <fa-icon [icon]="['fab', 'airbnb']" size="2x" class="text-pink-500"></fa-icon>
      <div class="font-bold text-pink-500 pl-3 text-2xl">airbnb</div>
    </div>
    <div class="p-toolbar-group-center bg-white border-round-full p-0 border-1
border-gray-300 shadow-md hover:shadow-lg transition-all duration-300 middle-group search flex justify-content-around" (click)="openNewSearch()">
      <button class="p-button border-round-left-full border-noround-right border-right-none
border-none bg-white text-gray-700 focus:shadow-none hover:bg-gray-100 transition-colors duration-300 text-sm py-3 px-5">
        {{location}}
      </button>
      <div class="border-1 border-left-none border-gray-300 separator"></div>
      <button class="p-button border-none border-noround bg-white text-gray-700 focus:shadow-none hover:bg-gray-100 transition-colors duration-300 text-sm py-3 px-5">
        {{dates}}
      </button>
      <div class="border-1 border-left-none border-gray-300 separator"></div>
      <button class="p-button guest-btn border-none border-round-right-full bg-white text-gray-700 focus:shadow-none py-3 px-5 hover:bg-gray-100 transition-colors duration-300 text-sm">
        <div>{{guests}}</div>
      </button>
      <button class="mr-2 p-button search-icon flex align-items-center justify-content-center bg-pink-500 hover:bg-pink-600 transition-colors duration-300 p-3 border-round-full">
        <fa-icon [icon]="'search'" class="text-sm text-white"></fa-icon>
      </button>
    </div>
    <div class="p-toolbar-group-end sm:hidden md:flex">
      @if(authService.isAuthenticated()){
        <a class="p-button p-button-link hover:underline text-sm font-semibold text-gray-700" (click)="openNewListing()">Airbnb your home</a>
      }
      <p-menu #menu [model]="currentMenuItems" [popup]="true" styleClass="border-round-xl mt-2 shadow-lg"></p-menu>
      <button (click)="menu.toggle($event)" class="menu flex align-items-center
justify-content-around ml-3 pl-4 p-3 border-gray-300 focus:shadow-none hover:shadow-lg border-round-full bg-white p-button transition-all duration-300">
        <fa-icon [icon]="'bars'" class="text-sm text-gray-700 mr-3"></fa-icon>
        <app-avatar [imageUrl]="connectedUser.imageUrl" avatarSize="avatar-sm"></app-avatar>
      </button>
    </div>
  </p-toolbar>
  <app-category></app-category>
</div>
