<div class="mb-3 bg-white shadow rounded-lg p-4">
  <h1 class="mb-1 text-2xl font-semibold text-gray-800">Add some photos of your house</h1>
  <h2 class="mt-0 text-gray-600">You'll need 5 photos to get started. You can add more later</h2>

  <div class="flex items-center justify-center mt-3">
    <input type="file" pInputText id="pictures"
           placeholder="Pictures"
           accept=".jpg,.jpeg,.png,.svg"
           multiple="multiple"
           (change)="onUploadNewPicture($event.target)"
           class="file:mr-4 file:py-2 file:px-4
                  file:rounded-full file:border-0
                  file:text-sm file:font-semibold
                  file:bg-violet-50 file:text-violet-700
                  hover:file:bg-violet-100">
  </div>
</div>

@if (pictures()) {
  <div class="mt-2 flex flex-wrap w-full h-full">
    @for (picture of pictures(); track picture.file.name) {
      <div class="border-2 border-gray-200 relative container-picture m-2">
        <button class="absolute top-0 right-0 m-2 trash-btn p-button p-button-danger" (click)="onTrashPicture(picture)">
          <fa-icon icon="trash-can"></fa-icon>
        </button>
        <div class="border-2 border-gray-200 border-round-3xl bg-cover bg-no-repeat h-30rem w-full"
             [style.background-image]="'url(' + picture.urlDisplay + ')'"></div>
      </div>
    }
  </div>
}
