<div class="info-step-control-container">
  <app-info-step-control [title]="'Guests'" [value]="infos().guests.value"
                         (valueChange)="onInfoChange($event, 'GUESTS')"
                         class="info-step-control">
  </app-info-step-control>
  <app-info-step-control [title]="'Bedrooms'" [value]="infos().bedrooms.value"
                         (valueChange)="onInfoChange($event, 'BEDROOMS')"
                         class="info-step-control">
  </app-info-step-control>
  <app-info-step-control [title]="'Beds'" [value]="infos().beds.value"
                         (valueChange)="onInfoChange($event, 'BEDS')"
                         class="info-step-control">
  </app-info-step-control>
  <app-info-step-control [title]="'Bathrooms'" [value]="infos().baths.value"
                         (valueChange)="onInfoChange($event, 'BATHS')"
                         class="info-step-control">
  </app-info-step-control>
</div>
